<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- Navbar -->
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam inventore dignissimos asperiores repudiandae accusamus consectetur pariatur placeat ipsam laboriosam. Recusandae inventore cum quasi unde, quis qui, eveniet iste excepturi culpa laudantium, laboriosam quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, velit? Reprehenderit atque a possimus autem quam expedita labore, maxime nisi qui illum similique voluptas sequi repellendus accusamus et tenetur excepturi minus ipsa accusantium eligendi ea hic nesciunt delectus? Molestias ducimus voluptatem sint labore architecto et? A cum ab quibusdam harum omnis neque aliquam, delectus molestias perferendis quaerat dolore, quas ducimus accusamus possimus repellendus deserunt illum nobis odit libero quisquam? Sit consectetur odit eius exercitationem ad aliquam adipisci eos sed nobis nostrum ratione necessitatibus excepturi tenetur ex voluptatem illo vero doloremque neque dicta, autem dolor, perferendis suscipit velit? Quidem.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt veniam voluptatem eum aperiam voluptatum tempore, rem ab facere quis et tempora, iure id possimus at! Quod adipisci ducimus ea, voluptates labore molestias?</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>